@import "tailwindcss";

:root {
  --color-primary: #092634;
  --color-secondary: #FF6E42;
  --color-tertiary: #351E06;
  --color-neutral: #F9F9F9;
  --font-headline: var(--font-literata);
  --font-body: var(--font-manrope);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}